@font-face { 
    font-family: 'GmarketSans'; 
    font-style: normal; 
    font-weight: 300; 
    src: url(../fonts/GmarketSansLight.woff2) format('woff2');
}

@font-face { 
    font-family: 'GmarketSans'; 
    font-style: normal; 
    font-weight: 500; 
    src: url(../fonts/GmarketSansMedium.woff2) format('woff2');
}

@font-face { 
    font-family: 'GmarketSans'; 
    font-style: normal; 
    font-weight: 900; 
    src: url(../fonts/GmarketSansBold.woff2) format('woff2');
}
