body{
    margin:0;
    padding:0;
    font-family: 'GmarketSans'; 
}

.hd_font, p{
    font-weight: 300;
}

h1 img{
    width:90px;
    height: 45px;
}

p {
    font-size: 15px;
    span {font-weight: bold;}
}


li a{
    text-decoration: none;
    color:black;
    font-size: 300;
}